{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.25">
    <title>{{title}}</title>
    <!--<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile_styles.css' %}">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />-->
    {% block css %}
    {% endblock %}

</head>
<body>
{% block mainmenu %}
<header class="header">
    <div class="container header-container">
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="{% url 'actual' %}" class="nav-link">Востребованность</a></li>
                <li class="nav-item"><a href="{% url 'geopos' %}" class="nav-link">География</a></li>
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Навыки</a></li>
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Последние вакансии</a></li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}

<main>
{% block content %}
{% endblock %}
</main>


<footer class="footer">
        <div class="footer_logo">
            <a href="{% url 'home' %}" class="footer_logo-img">
                <img src="{% static 'images/Logo.png' %}" alt="" class="footer_logo-img">
            </a>
        </div>
        <div class="footer_nav">
            <a href="{% url 'home' %}" class="nav_link">Главная</a>
        </div>
        <div class="about-us_container">
            <div class="nav_link about-us_heading">Сайт разработан</div>
            <div class="about-us_contacts">
                <div class="about-us_contacts-left">
                    <a class="about-us_contacts-text" href="/">Бэкендер Михаил</a>
                    <a class="about-us_contacts-text" href="https://youtu.be/dQw4w9WgXcQ">Фронтенд-разработчик Михаил </a>
                    <a class="about-us_contacts-text" href="/">Контент - мейкер Михаил</a>
                </div>
                <div class="about-us_contacts-right">
                    <a class="about-us_contacts-text" href="/">Дизайнер Михаил</a>
                    <a class="about-us_contacts-text" href="/">Аналитик Михаил </a>
                    <a class="about-us_contacts-text" href="/">Тимлид  Михаил</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
