{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />
{% endblock %}

{% block content %}
    <div class="search_container">
            <div class="search_header">
                Добро пожаловать на наш сайт, посвящный профессии Python программиста и актуальным вакансиям в этой области!
            </div>
            <img class="main-image" src="{{ images.image1.url }}" alt="">

            <div class="search_info">
                <p>Здесь вы найдете всю необходимую информацию о требованиях к Python программистам, актуальные вакансии отедущих IT-компаний, а также полезные сеты по трудоустройству и развитиюарьеры в сфере Python разработки. </p>

<p>Присоединяйт к сообществу профессионалов Python и делит опытом с коллегами. Начните свой путь к успешной карье Python программиста прямо сейчасНа нашем сайте вы сможете ознакомиться с самыми популярными и востребанными навыками в Python разработке, изучить списки вакансий и требований от ведущих компаний, и создать персонализированное резюм, соответствующее самым жестким требаниям рынка труда. Мыожем вам подготовиться к собеседованиям, разобаться в сложных концепциях современной разработки и узнать о перспективных направлениях в Python программировании. </p>

<p>На страницах нашего сайта вы также найдете информацию о самых актуальных образовательных, курсах и онлайн-ресурсах по Python программированию, которые помогут вам усовершенствовать сво навыки или освоить их с нуля. </p>

<p>Наша команда постоянно отслеживаетения в требованиях рынка, предоставлять вам самую актуальную информацию о трудоустройстве и развитии карьер. Мы гордимся тем, чтоогаем сформировать и укрепить сообщество квалифицированных специстов Python, обмениваться опытом и достижениями. </p>

<p>Вместе с нами вы сможе открыть для себя много нового не только в области технологий, но и в области межличностных отноений, развития навыков командной работы, а также научиться применять современные методики и птики управления проектами. </p>

<p>Наш сай является связующим звеномежду работодателями и кандидатами, обладающи высокими компетенциями в области разработки. Наша миссия -делать поиск работы и специалистоваксимально эффективным, удобным и прозрачным дляеих сторон. </p>

<p><p>Так что не упуститеанс стать частью сообщества профессиональных Python разработчиков и найти свою мечтаную работу   </p>

            </div>
        </div>

<div class="users">
{% for u in users %}
    <div class="user-card-container">
            <div class="left-section card-container">
                <div class="user-header">{{ u.get_short_name }}</div>
                <p class="user-text">{{ u.descriptions }}</p>
                <div class="user-statistic-header">Статистика</div>
                <div class="statistic-container">
                    <ul class="statistic-list">
                        <li class="statistic-item">{{ u.count_projects }} проекта(ов)</li>
                        <li class="statistic-item">{{ u.count_followers }} подписок</li>
                        <li class="statistic-item">{{ u.count_followings }} подписчиков</li>
                    </ul>
                    <a href="{% url 'profile' slug=u.slug %}" class="project-link">
                        <h5 class="abour-project">Подробнее</h5>
                        <img class="abour-project-icon" src="{% static 'images/about-project-icon.svg' %}">
                    </a>
                {% if user.is_authenticated and not is_your_profile %}
                    {% if request.user.id not in u.get_followings %}
                        <form action="{% url 'subscribe' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ u.id }}">
                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        <button class="usual-button submit-button subscribe" type="submit">Подписаться</button>
                        </form>

                    {% else %}
                        <form action="{% url 'unsubscribe' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ u.id }}">
                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        <button class="usual-button submit-button unsubscribe" type="submit">Отписаться</button>
                        </form>
                    {% endif %}
                {% endif %}
                    </div>
                </div>
                <div class="right-section card-container">
                    {% if u.photo %}
                        <img src="{{u.photo.url}}" alt="" class="avatar">
                    {% else %}
                        <img src="{% static '/images/default_photo.png' %}" alt="" class="avatar">

                    {% endif %}
                </div>
            </div>

        </div>
{% endfor %}
</div>

<!--<script>
    document.querySelector('.users').addEventListener('click', event => {
    if (event.target.classList.contains('subscribe')){
        event.target.innerHTML = "Отписаться";
        event.target.classList.remove('subscribe');
        event.target.classList.add('unsubscribe');
        event.target.dataset.subscribe = 'yes';
    }
    else if(event.target.classList.contains('unsubscribe')){
        event.target.innerHTML = "Подписаться";
        event.target.classList.remove('unsubscribe');
        event.target.classList.add('subscribe');
        event.target.dataset.subscribe = 'no';
    }
});
</script>-->
<script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}
