{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile_styles.css' %}">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />
{% endblock %}

{% block content %}
    <div class="container user-info-container">
        <div class="left-user-section">
            <h1 class="user-header">{{ user.first_name }} {{ user.last_name }}</h1>
            <p class="user-info user-text">{{ user.descriptions }}</p>
            <div class="user-statistic-container">
                
                <div class="user-statistic">


                    {% if request.user.is_authenticated and not is_your_profile %}
                    <div class="second-colum">
                        {% if request.user.id not in user.get_followings %}
                            <form action="{% url 'subscribe' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            <button class="usual-button submit-button subscribe" type="submit">Подписаться</button>
                            </form>

                        {% else %}
                            <form action="{% url 'unsubscribe' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            <button class="usual-button submit-button unsubscribe" type="submit">Отписаться</button>
                            </form>
                        {% endif %}
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="right-user-section">
            <div class="personal-user-info">
                <h4 class="personal-header">Имя Фамилия</h4>
                <p class="personal-item">{{ user.first_name }}</p>
                <p class="personal-item">{{ user.last_name}} </p>
                <p class="personal-item">{{user.sur_sur_name}} </p>
                <h4 class="personal-header">Специализация</h4>
                <p class="personal-item">{{ user.spec }}</p>
                <ul class="user-contacts">
                    {% if user.vk_url %}
                    <li class="contact-item">
                        <a href="{{ user.vk_url }}" class="contact">
                            <img src="{% static 'images/vk-icon.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}
                    {% if user.hh_url %}

                    <li class="contact-item">
                        <a href="{{ user.hh_url }}" class="contact">
                            <img src="{% static '/images/hh.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}

                    {% if user.behance_url %}
                    <li class="contact-item">
                        <a href="{{ user.behance_url }}" class="contact">
                            <img src="{% static '/images/phone.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="user-avatar">
                {% if user.photo %}
                    <img src="{{user.photo.url}}" alt="" class="avatar">
                {% else %}
                    <img src="{% static '/images/default_avatar.png' %}" alt="" class="avatar">

                {% endif %}
                {% if is_your_profile %}
                <a href="{% url 'editProfile' slug=request.user.slug %}" class="redactor-link">
                    <img src="{% static '/images/redactor-icon.svg' %}" alt="" class="redactor-icon">

                </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>